<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="stylesheets/home.css">
    <title>Crypto analysis</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="outer">
        <div class="header">
            <h1 style="margin:0px 0px;">Crypto Analysis</h1>
            <p style="color:#818181">Get crypto data on the go</p> 
        </div>
        <div class="main">
            <div class="card-header bold">
                <div class="card1">
                    <p>Symbol</p>
                    <p> Name</p>
                </div>
                <div class="card2">
                    <p>Value</p>
                    <p>24hr</p>
                </div>
            </div>
            <%  for(let i=0;i<data.length;i++){ %>
                <div onclick="location.href='/<%= data[i].id %>';" class="card">
                    <div class="card1">
                        <p class="symbol"><%= data[i].symbol %></p>
                        <p><%= data[i].name.substring(0, 12) %></p>
                    </div>
                    <div class="card2">
                        <p>$<%= parseInt(data[i].priceUsd).toFixed(2) %></p>
                        <% if(data[i].changePercent24Hr > 0) {%>
                            <p class="green-stock"><i class="bi bi-arrow-up-short green-stock"></i><%= parseFloat(data[i].changePercent24Hr).toFixed(2) %>%</p>
                            <% } else{ %>
                            <p class="red-stock"><i class="bi bi-arrow-down-short red-stock"></i><%= parseFloat(data[i].changePercent24Hr).toFixed(2) %>%</p>
                            <% } %>
                    </div>
                </div>
            <%}%>
            
        </div>
    </div>
</body>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.4.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.4.1/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyCnDfxcI26KYW1pmiJYkFh6hRDl3CRKq6o",
      authDomain: "crypto-analysis-ab.firebaseapp.com",
      projectId: "crypto-analysis-ab",
      storageBucket: "crypto-analysis-ab.appspot.com",
      messagingSenderId: "602415504977",
      appId: "1:602415504977:web:3d4990a303dce8f09a6270",
      measurementId: "G-DFW9H6N9JQ"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>

</html>